watch_file flake.nix
watch_file flake.lock

if ! use flake . --no-pure-eval; then
  echo "flake devshell could not be built. Fix flake.nix and reload." >&2
fi

# Local secrets / overrides
if [ -f .envrc.local ]; then
  source .envrc.local
fi
dotenv_if_exists .env.local
